.venv/
.idea/*

# Python cache - ignore everywhere
__pycache__/
*.pyc
*.pyo

**/__pycache__/
archives/*
archiver/profiles/*
build/*
dist/*
utils/commit_tracker/commit_id.txt
InstagramArchiver.exe
utils/ffmpeg/*
/utils/free_tsa
/.env
/data_transfers/packaged_archives/
/thumbnails
browsing_platform/client/.env
/data_transfers/packaged_archives/
/thumbnails

logs*

secrets
sshCurrentVm.sh
all.zip
output.log
foo/*

zarchives/*

utils/opentimestamps/open_timestamps_location.txt
utils/opentimestamps/open_ssl_location.txt
.claude/*
