.venv/
.idea/*
**/__pycache__/
archives/*
temp_video_segments/*
temp/*
profiles/*
/extractors/__pycache__
/summarizers/__pycache__
build/*
dist/*
commit_id.txt
InstagramArchiver.exe
ffmpeg/*
/tsa_certs
open_ssl_location.txt
/.env
browsing_platform/client/.env

/packaged_archives/
/thumbnails
logs*
secrets

sshCurrentVm.sh
all.zip
output.log




