.idea/*
__pycache__/*
archives/*
temp_video_segments/*
temp/*
profiles/*
/extractors/__pycache__
/summarizers/__pycache__
build/*
dist/*
commit_id.txt
InstagramArchiver.exe
ffmpeg/*
/tsa_certs
open_ssl_location.txt
/.env
/packaged_archives/
browsing_platform/server/routes/__pycache__/*
browsing_platform/server/services/__pycache__/*
/thumbnails
browsing_platform/client/.env
